// Columns
$columns: 12;

// Breakpoints
$xxl: 1400px;
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;

//Container
$container_xxl: 1320px;
$container_xl: 1140px;
$container_lg: 960px;
$container_md: 720px;
$container_sm: 540px;
